div.graphGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%
}
div.graphGrid>div{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
@media (max-width: 600px){
    div.graphGrid>div{
        width: 100%;
        margin: 5px 0;
    }
    div.graphGrid>div:nth-child(even){
        margin-left: 0;
    }
}
@media (min-width: 601px){
    div.graphGrid>div{
        width: 49%;
        margin: 1% 0;
    }
    #casesAndDeathsCombined{
        width: 100%;
        margin-left: 0;
    }
    #casesAndDeathsCombined{
        height: 1000px;
    }
    #deathsComparison{
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #deathsComparison iframe{
        border: none;
        width: 98%;
    }
    div.graphGrid>div:nth-child(odd){
        margin-left: 2%;
    }
}