@charset "utf-8";

@media only screen and (max-width:522px){
	div.code{
		display: none;
	}
	div.smallscreenmessage {
		display: block;
	}
}
div.mediumscreenmessage {
		display: block;
	}

@media only screen and (min-width:523px){
	div.smallscreenmessage {
		display: none;
	}
}
@media only screen and (min-width:523px) and (orientation:landscape){
	img.logo{
		width:200px;
		float:left;
		margin:auto;
		display: none;
	}
	
	img.snowflake{
	width: 30%;
	display: none;
	}
}
button {
	background-color: #2F302F;
	color: #E84B3C;
	border: 1px solid black;
	height: 30px;
	width: available;
}
button.green{
	color: #43F471;
	padding: 5px;
	height: fit-content;
}
form.reply{
	background:#f5d142;
	padding: 0 5px;
}
textarea.comment{
	color: #646464;
	background: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #646464;
	outline: none;
}
textarea.comment:focus{
	color: black;
	border-bottom: 1px solid black;
	outline: none;
}
textarea.content{
	width: 99%;
}
img.like{
	width: 50px;
	height: 20px;
}
input.replyname{
	width: 60%;
	display: inline;
}
div.reply{
	border-top: 0.5px dotted #2F302F;
	padding-top: 5px;
}
div.post{
	border: #2F302F dashed;
	margin-top: 5px;
	padding: 5px;
}
div.notice{
	background-color: #FF3F63;
	opacity: 0.5;
	border: 1px solid red;
	margin: 5px;
	padding: 5px 20px;
	color: black;
}

table{
	width: 100%;
}

table.coronavirus th{
	width: 33%;
}
table.coronavirus td{
	text-align: center;
}
table.coronavirus tr{
	border: 1px solid black;
}
table.coronavirus{
	font-family: anziano, cambria;
	border-collapse: collapse;
}

#actualstatistics{
	font-weight: bold;
	color: red;
}
#coronaviruslastupdated{
	color: #323232;
	text-emphasis: #FF3F63;
	font-style: italic;
}

table.contest-entry{
	border: 1px solid #1F1F1F;
	color: black;
	border-collapse: collapse;
}
table.contest-entry tr{
	border: 1px solid #1F1F1F;
}
table.contest-entry td{
	text-align: center;
}
table.contest-entries th{
	border: 1px solid #1F1F1F;
	padding: 1px;
}

table.contest-entries{
	border: 1px solid #1F1F1F;
	color: black;
	border-collapse: collapse;
}
table.contest-entries tr{
	border: 1px solid #1F1F1F;
}
table.contest-entries td{
	text-align: center;
}

ul{
	list-style-type: none;
	line-height: 2.2;
}
ul.sitemap{
	line-height: 2.2;
	margin: 2px auto;
}
ul.sitemap li{
	border: 1px dotted #2F302F;
	margin: 2px auto;
	text-align: center;
}
ul.sitemap li:hover{
	background-color: antiquewhite;
}
div.smallscreenmessage, div.mediumscreenmessage{
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}
#aboutboxes{
	background-color: #f5d142;
}
#typingspeed{
	width:100%;
}


input {
	background-color: #2F302F;
	color: #E84B3C;
	border: 2px solid black;
	padding: 5px;
	display: block;
	width: 96%;
	margin: 5px auto;
}
label{
	white-space: nowrap;
}
input.php{
	margin: 5px;
	display:inline;
	color:aqua;
}
textarea {
	background-color: #2F302F;
	color: #E84B3C;
	border: 2px solid black;
	padding: 5px;
	display: block;
	width: 96%;
	max-width: 96%;
	min-width: 96%;
	margin: 5px auto;
}
input.colour {
	width: 50px; 
	height: 50px; 
	border: 3px solid white;
}

form {
	background-color: #E84B3C;
	padding: 5px 1%;
	width: 98%;
	margin: auto;
}
form.green input{
	margin: 0;
	color: #42F471;
}
form.green select{
	color: #42F471;
	background-color: #2F302F;
	border: black;
}
form.green{
	padding: 1px;
	background-color: #42F471;
}
form.group{
	border: 1px solid black
}

a{
	text-decoration: none;
	color: whitesmoke;
	border-bottom: 0.5px dashed whitesmoke;
}

a.grey{
	color: darkgrey;
	border-bottom-color: darkgrey;
}

a.darker{
	color: #2F302F;
	border-bottom-color: #2F302F;
}

h1 {
	border-bottom: 11px solid #42F471;
	text-align: center;
	font-family: rooney-web,serif;
	font-weight: 500;
	font-style: normal;
	color: #42F471;
	background-color: dimgrey;
	padding: 10px;
}
h1.pink{
	color: #FF3F63;
	border-bottom-color: #FF3F63
}
h1.lightpink {
	color: #f288b7;
	border-bottom-color: #f288b7
}
h1.blue{
	color: #03a9fc;
	border-bottom-color: #03a9fc
}
h1.green{
	color: #42F471;
	border-bottom-color: #42F471
}
h1.orange{
	color: #f5d142;
	border-bottom-color: #f5d142
}

p {
	color: black;
}

p.pink {
	color: #303030;
	background-color: #f288b7;
}

p.green{
	color: black;
	background-color: #42F471;
	min-height: 200px; 
	width: 960px; 
	border: 5px solid whitesmoke;
}
.flex-container {
	display:block;
	padding: 0;
	/*flex-direction:column;*/
	/*flex-flow: column;*/
	/*justify-content: center;*/
	/*align-items: baseline;*/
	/*align-content: space-around;*/
}


div.gallery{
	width:90%;
	border: 1px dotted #393635;
	clear:both;
	margin: auto;
	
}

div.gallery img{
	width: 100%;
	height: auto;
	padding: 10px 0;
}
img {
	
}
div.video{
	width: 100%;
	margin: auto;
}
img.behance{
	display: block;
	width:86%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}
img.logo{
	width: 100%;
}
img.snowflake{
	width: 100%;
}
img.graph{
	width: 100%;
}
img {
	width: 100%;
}
body {
	background-color: antiquewhite;
	font-family:  "Lucida sans", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	height: fit-content;
}
div.mainbody {
	width: auto;
	margin-bottom: 5%;
	height: fit-content;
}
div.singlebox {
	border: 5px solid whitesmoke;
	background-color: #f5d142;
	padding: 0 1%;
	width: auto;
}
.smallhead {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display:block;
	color: black;
}
div.contests{
	background-color: #43F471;
	outline: 3px dashed whitesmoke;
	margin: 10px 10px;
	padding: 5px;
	width: fit-content;
}
div.predictionscontainer{
	background-color: #2F302F;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: wrap;
}
#newcontesttypeoptions{
	padding: 5px;
	height: fit-content;
}
div.box {
	height: fit-content;
	border: 5px solid whitesmoke;
	padding: 5%;
	width: 100%;
	margin: 0 auto 30px;
}
.box.orange{
	color: black;
	background-color: #f5d142;
}
.box.blue{
	background-color: #03a9fc;
}
.box.charcoal {
	color: whitesmoke;
	background-color: #2F302F;
}
.box.pink {
	color: #303030;
	background-color: #f288b7;
}
.box.green{
	color: black;
	background-color: #42F471;
}
.box.double{
	width: 85%;
}
.box.triple{
	width: 85%;
}
.box.single{
	width: 85%;
}
#warwick{
	padding: 0;
	height: auto;
}
div.fullwidthbox{
	width: 80%;
	color: black;
	height: 100%; 
	border: 5px solid whitesmoke;
	padding: 8%;
	display: block;
}
list {
	
}

ul {
	padding:2px;
	line-height: 20px;
}
ul.bulleted{
	list-style-type: armenian;
}
ul.indented{
	margin-left: 10px;
}
span.nobreak {
	white-space: nowrap;
}

div.doubleboxes {
	color: black;
	height: 100%; 
	border: 5px solid whitesmoke;
	padding: 8%;
	width: 80%;
	margin-bottom: 30px;
	line-height: 20px;
}

a.button {
	background: dimgray;
	padding: 1px 6px;
	border: 1px solid whitesmoke;
	white-space: nowrap;
}
input.button {
	color: whitesmoke;
	background: dimgray;
	padding: 1px 6px;
	border: 1px solid whitesmoke;
	white-space: nowrap;
}
code {
	color: whitesmoke;
	
}
div.code{
	background-color:#1F1F1F;
	padding: 10px 20px 10px 20px;
	border: 3px double black;
	font-size: inherit;
	white-space: nowrap;
}
div.code.large{
	display: none;
}
span.inlinecode{
	background-color:#1F1F1F;
	padding: 1px 3px;
	border-radius: 2px;
}
span.py{
	color: orangered;
	font-weight: 200
}
span.def{
	color: orange;
	font-weight: 200
}
span.func{
	color:mediumpurple;
	font-weight: 200
}
span.num{
	color:cadetblue;
	font-weight: 200
}
span.comment{
	color: darkgreen;
}
div.column{
	float:none;
	width: 100%;
	text-align: center;
	line-height: 2
}

div.blankline{
	width: 100%;
	display:block;
	float: inherit;
	padding-top: 10px;
}

footer {
	border-top: 7px dashed whitesmoke;
	background-color: #2F302F;
	color: whitesmoke;
	padding: 5px 10px 25px 10px;
}

.frontPagePredictions {
	width: fit-content;
	background-color: #2F302F;
	padding: 5px;
	margin: 0;
}

.frontPagePredictionsForm {
	background-color: #43F472;
	padding: 2px;
	margin: 6px;
}
.frontPagePredictionsForm input{
	margin: 2px;
	font-size: inherit;
	color: #43F472;
	width: 100%;
}
.frontPagePredictionsForm button{
	margin: 2px;
	font-size: inherit;
	height: available;
	width: 50%;
}

div.errorMessage{
	background-color: #ff7879;
	border: 2px solid #ff2834;
	border-radius: 3px;
	color: black;
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Courier New", "monospace";
	margin: 5px;
	padding: 5px;
}
/* CSS Document for mobile devices*/

 /* end of mobile styling */