@charset "utf-8";
button {
    background-color: #2F302F;
    color: #E84B3C;
    border: 1px solid black;
    display: inline;
}
button.green{
    color: #43F471;
}
form.reply {
    background: #f5d142;
    padding: 0 10px;
}

textarea.comment {
    color: #646464;
    background: transparent;
    width: 30%;
    min-width: 300px;
    border: none;
    border-bottom: 1px solid #646464;
    outline: none;
}

textarea.comment:focus {
    color: black;
    border-bottom: 1px solid black;
    outline: none;
}

textarea.content {
    width: 99%;
}

img.like {
    width: 50px;
    height: 20px;
}

div.smallscreenmessage {
    display: none;
}

ul {
    list-style-type: none;
    line-height: 2.2;
}

span.nobreak {
    white-space: nowrap;
}
#dailydeathsgraph{
     height: 100%;
}
#deathsgraph{
    height: 100%;
}
#pycharmgraph{
    max-width: 100%;
}
ul.sitemap {
    line-height: 2.2;
}

ul.sitemap li:hover {
    background-color: antiquewhite;
    color: #2F302F;
}

input {
    background-color: #2F302F;
    color: #E84B3C;
    border: 1px solid black;
    padding: 5px;
    display: inline;
    margin: 5px;
}
select {
    background-color: #2F302F;
    color: #E84B3C;
    border: 1px solid black;
    padding: 5px;
    display: inline;
    margin: 5px;
}

input.php {
    display: inline;
    color: red;
}
input::placeholder{
    color:#E84B3C;
}
label {
    display: inline;
}

textarea {
    background-color: #2F302F;
    color: #E84B3C;
    border: 1px solid black;
    padding: 5px;
}

#message {
    display: block;
    height: 200px;
    width: 99%;
    margin: 5px;
    max-width: 99%;
    min-width: 99%;
}

input.colour {
    width: 50px;
    height: 50px;
    border: 3px solid white;
}

form {
    background-color: #E84B3C;
    padding: 15px;
}
form.green input{
    margin: 0 2px;
    color: #42F471;
}
form.green select{
    color: #42F471;
    background-color: #2F302F;
    border: black;
    height: 25px;
}
form.green{
    padding: 2px;
    background-color: #42F471;
}
#contact {
    width: 60%;
    max-width: 100%;
    min-width: 700px;
}

form.group {
    width: 200px;
    border: 1px solid black
}

div.date {
    float: right;
    color: #323232;
    font-style: italic;
}

a {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 0.5px dashed whitesmoke;
}

a:hover {
    color: #2F302F;
}

a.button {
    background: dimgrey;
    padding: 4px 6px;
    border: 1px solid whitesmoke
}

a.button:hover {
    color: whitesmoke;
    background-color: #2F302F;
}
input.button {
    color: whitesmoke;
    background: dimgrey;
    padding: 4px 6px;
    border: 1px solid whitesmoke
}

input.button:hover {
    color: whitesmoke;
    background-color: #2F302F;
}
a.grey {
    color: darkgrey;
    border-bottom-color: darkgrey;
}

a.darker {
    color: #2F302F;
    border-bottom-color: #2F302F;
}

a.darker:hover {
    color: whitesmoke;
}

h1 {
    border-bottom: 11px solid #42F471;
    border-bottom-left-radius: 50px;
    text-align: center;
    font-family: rooney-web, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55px;
    color: #42F471;
    background-color: dimgrey;
    padding: 20px;
}

h1.pink {
    color: #FF3F63;
    border-bottom-color: #FF3F63
}
h1.green{
    color: #42F471;
    border-bottom-color: #42F471
}
h1.lightpink {
    color: #f288b7;
    border-bottom-color: #f288b7;
    background-color: #303030;
}
h1.green {
    color: #42F471;
    border-bottom-color: #42F471
}
h1.blue{
    color: #03a9fc;
    border-bottom-color: #03a9fc
}
h1.orange {
    color: #f5d142;
    border-bottom-color: #f5d142
}
h1.purple{
    color: #8c7ae6;
    border-bottom-color: #8c7ae6
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

p {
    color: black;
}

p.pink {
    background-color: #f288b7;
}

p.green {
    color: black;
    background-color: #42F471;
    min-height: 200px;
    width: 960px;
    border: 5px solid whitesmoke;
}

.flex-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
}

div.gallery {
    width: 100%;
    border: 1px dotted #393635;
    clear: both;
    margin: auto;
    display: block;
    float: none;
}

div.entry {
    width: 25%;
    padding: 2.5%;
    height: 100%;
    float: none;
    margin: 1% 0;
}

div.gallery img {
    display: block;
    float: none;
}

img {
    float: none;
}

#screenshot {
    display: block;
    float: none;
}

div.video {
    width: 20%;
    margin: auto;
    float: left;
}

img.behance {
    display: inline;
    width: 86%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

img.logo {
    height: 300px;
    float: left;
}

img.snowflake {
    height: 300px;
    float: right;
}

img.graph {
    width: 24%;
    min-width: 400px;
    clear: both;
}

body {
    background-color: antiquewhite;
    font-family: anziano, cambria;
    font-weight: 400;
    font-style: normal;

}

div.mainbody {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    max-width: 1500px;
}

div.singlebox {
    border: 5px solid whitesmoke;
    background: #f5d142;
    padding: 0 1% 1%;
    height: auto;
    box-shadow: #cabbaa 0 0 40px;
}

.smallhead {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: black;
}
div.contests{
    background-color: #43F471;
    outline: 3px dashed whitesmoke;
    margin: 10px 10px;
    padding: 5px;
    width: fit-content;
}
div.predictionscontainer{
    background-color: #2F302F;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}
div.box {
    height: auto;

    border: 5px solid whitesmoke;
    padding: 2%;
    margin: 0 auto 2.5%;
}
div.singlebox.lilac{
    background-color: #dcdde1;
}
.box.blue{
    background-color: #03a9fc;
}
.box.orange {
    color: black;
    background-color: #f5d142;
}
.box.charcoal {
    color: whitesmoke;
    background-color: #2F302F;
}
.box.darker {
    background-color: rgba(0, 0, 0, 0.3);
}
.box.whitesmoke{
    background-color: whitesmoke;
}
.box.green {
    color: black;
    background-color: #42F471;
}
.box.pink {
    color: #2F302F;
    background-color: #f288b7;
}
.box.double {
    width: 41%;
}

.box.triple {
    width: 20%;
    min-width: 300px;
}

.box.single {
    width: 91%;
}

#SongOfMoses {
    width: auto;
}

#aboutboxes {
    background-color: #f5d142;
}

#typingspeed {
    width: 100%;
}

#warwick {
    width: 60%;
    padding: 0;
}

.BibleVerse {
    white-space: nowrap;
}
table.contacttable{
    width: 100%;
    text-align: center;
    border: 1px solid #2F302F;
    border-collapse: collapse;
    padding: 25px 0;
}
table.contacttable th{
    border-right: 1px solid #2F302F;
    border-bottom: 1px solid #1F1F1F;
    padding: 5px 20px;
}
th.fit-to-content{
    width: 1%;
    white-space: nowrap;
}
table.analytics{
    text-align: center;
    border: 1px solid #2F302F;
    border-collapse: collapse;
    padding: 25px 0
}
table.analytics th{
    border-right: 1px solid #2F302F;
    padding: 5px 20px
}
table.analytics tr{
    border-bottom: 1px solid #2F302F;
    border-top: 1px solid #2F302F;
}
table.coronavirus th{
     width: 33%;
}
table.coronavirus td{
    text-align: center;
}
table.coronavirus tr{
    border: 1px solid black;
}
table.coronavirus{
    border-collapse: collapse;
    width: 500px;
}
#actualstatistics{
    font-weight: bold;
    color: red;
}
#coronaviruslastupdated{
    color: #323232;
    text-emphasis: #FF3F63;
    font-style: italic;
}

table.contest-entry{
    border: 1px solid #1F1F1F;
    color: black;
    border-collapse: collapse;
}
table.contest-entry tr{
    border: 1px solid #1F1F1F;
}
table.contest-entry td{
    text-align: center;
}

table.contest-entries{
    border: 1px solid #1F1F1F;
    color: black;
    border-collapse: collapse;
}
table.contest-entries tr{
    border: 1px solid #1F1F1F;
}
table.contest-entries td{
    text-align: center;
}
table.contest-entries th{
    border: 1px solid #1F1F1F;
    padding: 5px;
}

table.bordered{
    border: 1px solid #1F1F1F;
    color: black;
    border-collapse: collapse;
}
table.bordered tr{
    border: 1px solid #1F1F1F;
}
table.bordered td{
    text-align: center;
    border: 1px solid #1F1F1F;
}
table.bordered th{
    border: 1px solid #1F1F1F;
    padding: 5px;
}

div.notice{
    background-color: #FF3F63;
    opacity: 0.5;
    border: 1px solid red;
    margin: 5px;
    padding: 5px 20px;
    color: black;
}
div.fullwidthbox {
    width: 92%;
    color: black;
    height: auto;
    border: 5px solid whitesmoke;
    padding: 3%;
    margin: 0 auto 2.5%;
    display: block;
}

div.post {
    margin: 20px 0;
    padding: 5px;
    border: 1px dashed #1f1f1f;
}

div.reply {
    margin-left: 35px;
    border-top: 1px dotted #1f1f1f;
    margin-bottom: 5px;
}

#postbutton {
    width: 100px;
    height: 30px;
}

button.replybutton {
    width: 100px;
    height: 30px;
}

ul {
    padding: 2px;
    line-height: 20px;
}

ul.indented {
    margin-left: 40px;
    line-height: 30px;
}

ul.bulleted {
    list-style-type: armenian;
}

div.doubleboxes {
    color: black;
    border: 5px solid whitesmoke;
    padding: 2%;
    width: 40%;
    line-height: 1.5;
    height: auto;
    margin: 0 auto;
}

code {
    color: whitesmoke;

}

div.code {
    background-color: #1F1F1F;
    width: 30%;
    min-width: 500px;
    padding: 10px 20px 10px 20px;
    border: 3px double black;
    white-space: nowrap;
    max-width: 92%;
}

div.code.large {
    min-width: 800px;
}

div.mediumscreenmessage {
    display: none;
}

@media only screen and (max-width: 1000px) {
    div.code.large {
        display: none;
    }

    div.mediumscreenmessage {
        display: block;
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }
}

span.inlinecode {
    background-color: #1F1F1F;
    padding: 1px 3px;
    border-radius: 2px;
}

#small {
    max-width: 300px;
    min-width: 200px;
}

span.py {
    color: orangered;
    font-weight: 200
}

span.def {
    color: orange;
    font-weight: 200
}

span.func {
    color: mediumpurple;
    font-weight: 200
}

span.num {
    color: cadetblue;
    font-weight: 200
}

span.comment {
    color: forestgreen
}

div.column {
    float: left;
    width: 33.33%;

}

div.blankline {
    margin-top: 5px;
    padding-top: 25px;
    width: 97%;
    display: block;
}

footer {
    border-top: 7px dashed whitesmoke;
    background-color: #2F302F;
    color: whitesmoke;
    padding: 5px 5px 50px 50px;
    clear: both;
}

.frontPagePredictions {
     width: fit-content;
     background-color: #2F302F;
     padding: 5px;
     margin: 0;
 }

.frontPagePredictionsForm {
    background-color: #43F472;
    padding: 2px;
    margin: 6px;
}
.frontPagePredictionsForm input{
    margin: 2px;
    font-size: inherit;
    color: #43F472;
}
.frontPagePredictionsForm button{
    margin: 2px;
    font-size: inherit;
    height: available;
}

#columns-example{
    color: #323232;
    font-style: italic;
    font-weight: lighter;
}

div.errorMessage{
    background-color: #ff7879;
    border: 2px solid #ff2834;
    border-radius: 3px;
    color: black;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Courier New", "monospace";
    margin: 5px;
    padding: 5px;
}

#viewCV{
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: #43F472;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #31a854;
    margin: 20px;
    font-size: large;
    cursor: pointer;
    outline: none;
}
a.nolink{
    border: none;
}
a.lightlink{
    color: whitesmoke;
}
a.lightlink:hover{
    color: navajowhite;
}