#columns-example{
    color: #323232;
    font-style: italic;
    font-weight: lighter;
}

div.errorMessage{
    background-color: #ff7879;
    border: 2px solid #ff2834;
    border-radius: 3px;
    color: black;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Courier New", "monospace";
    margin: 5px;
    padding: 5px;
}
div.warningMessage{
    background-color: #ff883e;
    border: 2px solid #ff5501;
    border-radius: 3px;
    color: black;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Courier New", "monospace";
    margin: 5px;
    padding: 5px;
}
#portfolioGraph{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
}

button{
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}
button:hover{
    background-color: #1f1f1f;
}
@media (max-width: 900px){


}
form{
    background-color: transparent;
}
#portfolioStatsTable {
    width: 100%;
}
#portfolioStatsTable td{
    margin: 25px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
    text-align: center;
}
#portfolioStatsTable td:hover{
    background-color: whitesmoke;
}

#newTransactionForm{
    border-radius: 10px;
}

span.recommendation{
    padding: 5px 10px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #1f1f1f;
    opacity: 90%;
    background-color: whitesmoke;
    cursor: pointer;
}

span.recommendation:hover{
    opacity: 100%;
}

#transactionTable{
    width: 50%;
    min-width: 400px;
    border-radius: 10px;
    color: #2F302F;
    background-color: coral;
}
#transactionTable tr{
    border-bottom: 1px solid #2F302F;
}
#transactionTable td{
    border-top: 1px solid #2F302F;
    padding: 5px 10px;
}
#transactionTable th{
    font-weight: bold;
}