button#viewCV{
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: #f5d142;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px orange;
    margin: 20px;
    font-size: large;
    cursor: pointer;
    outline: none;
}
a.nolink{
    border: none;
}

div.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 0 0 0;
}

div.projectsContainer span.projectTypeHeader{
    border: solid black;
    border-width: 0 0 0 5px;
    margin: 20px 5px 5px 20px;
    padding: 0 0 0 10px;
    font-size: larger;
    font-weight: bolder;
}
div.projectsContainer div.project{
    border: solid black;
    border-width: 1px 0 0 0;
    margin: 5px;
    padding: 5px;
    position: relative;
}
div.projectsContainer div.project:first-of-type{
    border: 0;
}
div.projectsContainer div.project div.projectHeader {
    font-weight: bolder;
}
div.projectsContainer div.projectType{
    padding: 5px;
    margin: 10px 0;
    border: 0 dashed #2F302F;
    border-radius: 3px;
    box-shadow: 0 0 10px #ad9b3b;
    background-color: #ffdb45;
}
div.projectsContainer div.project div.projectTooltip{
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-color: #2F302F;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    bottom: 105%;
    left: 0;
    width: auto;
    transition: opacity 800ms;
    box-shadow: 0 0 20px #2F302F;
}
div.projectsContainer div.project:hover div.projectTooltip{
    opacity: 1;
    visibility: visible;
    transition: opacity 800ms;
}
div.code.large{
    margin: auto;
    text-align: left;
}
div.projectsContainer div.project:hover div.projectTooltip img{
    max-width: 500px;
    max-height: 400px;
}


/*This is for the graph inside a tooltip*/
span.highlight{
    border-radius: 3px;
    padding: 0 5px;
    box-shadow: #a6a7a6 1px 1px 2px;
}
span.percentageFemale{
    background-color: hotpink;
}

span.percentageMale{
    background-color: dodgerblue;
}
span.totalParticipation{
    background-color: #bbbbc2;
}
div.google-visualization-tooltip{
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
}
div.tooltipMaleFemaleStats{
    padding: 5px 0;
}
a{
    font-weight: bolder;
}

#graphTooltip{
    bottom: 100%;
}