table.companies-house th{
    border: solid #2F302F;
    border-width: 1px 0 1px 0;
}
#companyFoundingGraph{
    box-shadow: #ad9b3b 0 0 10px;
    margin: 25px 0;
}

form{
    background-color: transparent;
}
input,select,button,textarea{
    background-color: transparent;
    color: #2F302F;
    border-radius: 4px;
    border: 2px solid #2F302F;
    font-size: inherit;
    padding: 4px;
    outline: none;
}

input::placeholder{
    color: #646464;
}
button{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    margin: 3px;
    cursor: pointer;
}
button:hover,input:hover,select:hover,input:focus,select:focus{
    background-color: rgba(245, 245, 245, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#categoryKeyFixInput{
    width: 28px;
}
form.inlineForm{
    display: inline-block;
}
div.companyNavSection{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
}
div.responseTime{
    text-align: right;
    font-size: smaller;
    color: #2F302F;
}
